@font-face {
    font-family: 'Quicksand';
    src: url('../assets/fonts/Quicksand/Quicksand-SemiBold.ttf');
    font-weight: 600;
  } 
@font-face {
    font-family: 'Quicksand';
    src: url('../assets/fonts/Quicksand/Quicksand-Bold.ttf');
    font-weight: bold;
  } 
@font-face {
    font-family: 'Quicksand';
    src: url('../assets/fonts/Quicksand/Quicksand-Regular.ttf');
    font-weight: normal;
  } 
  
  html, h1, h2, h3, h4, h5, h6, label {
    font-family: 'Quicksand', sans-serif;
  }


/* NAV */

.bg-darksilverA {
    background-color: rgba(100, 100, 100, .8);
}
.bg-darksilver {
    background-color: rgba(100, 100, 100, 1);
}

.navbar-brand img {
    height: 44px;
    padding-left: 14px;
}

.nav-link-dark {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: white;
    font-weight:600;    
}

.navbar-nav .nav-link.bctive, .navbar-nav .nav-link.show, .nav-link:focus, .nav-link:hover {
    color: silver;
}

.nav-item img {
    height: 18px;
}

.pe-fix { /* En el código de Bootstrap originalmente venia la clase pe-3 que agrega un padding, probe con hasta pe-5 pero no quedaban bien centrado el nav principal, también probe con unas clases para acomodar en posiciones aboslutas, habia quedado bien en Desktop pero se rompia el menu Mobile asique lo resolvi asi medio aprox con un % */
    padding-right: 2.6%;
}

.navbar-toggler  {
    border: none;    
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

.offcanvas.offcanvas-end {
    width: 158px; /* calc(100% / 3) */
}

.offcanvas-header .btn-close {
    margin: 3px 0 0 10px;
    padding-right: 22px;
}


@media (max-width: 767px) {
    .fixed-md-top { /* La cree porque no encontre en la docu, habia una sticky-md-top pero era al reves me lo fijaba en Mobile y me lo hacia flotante en Desktop */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    }

    .offcanvas-social {
    flex-direction: row;
    justify-content: flex-start !important; /* tuve que usar !important porque Bootstrap ya lo estaba usando */
    padding-top: 14px;
    }
    
    .offcanvas-social-item {
    margin-right: 16px;
    }

    .offcanvas-header {
        justify-content: flex-end;
    }

    .navbar-brand img {
        padding-left: 8px;
    }
}


/* BANNERS */

.bannerIndex, .banner {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: grey;
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.20);
    margin-bottom: 40px;
    background-size: cover;
    background-position: center center;
  }
  .bannerIndex h1, .banner h1 {
    font-weight: 700;
  }
  .bannerIndex h1 {
    font-size: 3rem;
    margin: 0;
  }
  .banner h1 {
    font-size: 2.6rem;
  }

  .bannerIndex {
    font-size: 32px;
    height: 620px;
    padding-top: 300px;
    background-image: url('../assets/images/home.jpg')
  }

  .banner {
    font-size: 28px;
    height: 440px;
    padding-top: 200px;
  }

  .bannerTratamientos {
    background-image: url('../assets/images/consultorio2.jpg')
  }
  .bannerProductos {
    background-image: url('../assets/images/insumos2.jpg')
  }
  .bannerUbicacion {
    background-image: url('../assets/images/hall2.jpg')
  }
  .bannerContacto {
    background-image: url('../assets/images/contacto2.jpg')
  }


  /* NAV FOOTER */

  .navF ul{
    display: inline-flex;

  }

  .nav-list {
    text-align: center;
    margin: 0 auto;
  }
  
  .nav-list li {
    display: inline-block;
    padding: 10px;
    text-align: center;
  }
  
  .nav-link {
  display: inline;
}

  .nav-linkF {
    font-size: 16px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;

  }
  
  .socialF li {
    display: inline-block;
    margin: 0 5px;
  }

  /* */

  .logoF {
    text-align: center;
    
  }

  .logoF img{
    height: 32px;
    
  }

  .nav-linkF {
    font-size: 15px;
}
  
  .nav-linkF {
    color: rgb(80, 80, 80);
  }
  
  .socialF {
    text-align: center;
    padding-top: 10px;
  }

  .socialF img{
    height: 18px;
    vertical-align: middle;
  }

  .navF {
    margin-top: 40px;
    text-align: center;
    vertical-align: middle;
  }

  .navF ul, .offcanvas-body ul { /* fix ol, ul Bootstrap */
    padding-left: 0;
  }

  .navF .nav-list {
    margin: 0 8%;
    
  }

  .navF p {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-weight:normal;
    color: gray;
  }

  .navF p a {
    color: gray;
    text-decoration: none;
  }

  @media (max-width: 767px) {
    .navF ul {
      display: inherit;
    }
  }



  /* MAIN */

  .gmaps iframe, .txt {
    padding: 20px 10%;
  }

  .gmaps iframe {
    width: 1240px;
    height: 600px;
    max-width: 100%;
  }

  main {
    text-align: center;
  }

  .txt {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight:normal;
    color: rgb(80, 80, 80);
    width: 100%;
    display: inline-block;
    text-align: center;
  }


  main section {
    display: inline-block;
    vertical-align: top;
  }

  /*Index Flex*/

  .containerI {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px 120px;
    justify-content: center;
    padding: 20px 10%;
  }

  .card-containerI {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .card-containerI img {
    width: 60px;
    border-radius: 15%;
    margin-bottom: 10px;
    padding: 12px;
    background-color: rgb(240, 240, 240);
  }

  .card-containerI p {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight:normal;
  }

  .card-containerT h5, .containerI h3, .containerI p {
    color: rgb(100, 100, 100);
    font-weight: bold;
  }
  .card-containerT h5 {
    font-size: 18px;
  }


  .carousel-item .card {
    display: inline-flex;
    background-color:rgb(250, 250, 250);
  }

  .card-body

  .carousel-control-next, .carousel-control-prev {
    
  }
 
  
  /*Tratamientos Grid*/

  .box {
    
    width: 100%;
    height: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .box div {
    z-index: 3;
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: grid;
    place-items: end start;
    /* opacity: 0.5; */
  }

  .box div h5 {
    margin-left: 15px;
    text-shadow: black 1px 0 8px;
  }
  
  .b1 {
    grid-area: a1;
  }
  
  .b2 {
    grid-area: a2;
  }
  
  .b3 {
    grid-area: a3;
  }
  
  .b4 {
    grid-area: a4;
  }
  
  .b5 {
    grid-area: a5;
  }
  
  .b6 {
    grid-area: a6;
  }

  .b7 {
    grid-area: a7;
  }

  .b8 {
    grid-area: a8;
  }

  .b9 {
    grid-area: a9;
  }

  .b10 {
    grid-area: a10;
  }
  
  .grid {
    padding: 20px 10%;

    display: grid;
    grid-template-columns: repeat(4, 1frx);
    grid-template-rows: repeat(3, 260px);
    gap: 15px;
    place-items: end center;
    grid-template-areas:
      'a1 a1 a2 a3'
      'a4 a5 a8 a8'
      'a6 a7 a9 a10';
  }

  @media (max-width: 768px) {
    .grid {
    grid-template-columns: repeat(2, 1frx);
    grid-template-rows: repeat(6, 260px);
      grid-template-areas:
        'a1 a1'
        'a2 a3'
        'a4 a5'
        'a8 a8'
        'a6 a7'
        'a9 a10';
    }
    }

    @media (max-width: 576px) {
      .grid {
        grid-template-columns: repeat(1, 1frx);
        grid-template-rows: repeat(10, 260px);
          grid-template-areas:
            'a1'
            'a2'
            'a3'
            'a4'
            'a5'
            'a8'
            'a6'
            'a7'
            'a9'
            'a10';
        }
      }

    .box img {
      width: 100%;
      height: 260px;
      object-fit: cover;
      position: absolute;
    }

    /* Productos */

    .labs {
      display: grid;
      grid-template-columns: repeat(2, 260px);
      grid-auto-rows: minmax(40%, auto);
      grid-auto-flow: dense;
      justify-content: center;
      gap: 40px 100px;
      padding: 20px 25%;
    }

    @media (max-width: 768px) {
      .labs {
      grid-template-columns: auto;
      }
    }

    .h-30 {
      height: 30px;
    }

    .h-40 {
      height: 40px;
    }

    .carousel-item img {
      justify-content: center;
    }

    /* FORM */

    .formulario {
      padding: 20px 10%;
      max-width: 1400px;
      display: inline-block;
      justify-content: center;
    }

    .form-control::placeholder {
      color: silver;
    }

    .form-control:focus {
      color: var(--bs-body-color);
      background-color: var(--bs-body-bg);
      border-color: silver;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba(100, 100, 100, .25);
  }

  form.row { /* el .row de bootstrap me agregaba margenes que sobresalian del sitio y ponian una barra de desplazamiento en X */
    margin-right: 0;
    margin-left: 0;
  }

  textarea {
    resize: none;
  }

  /* BOTON WHATSAPP FLOTANTE */

  .wsp {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 52px;
    right: 52px;
    z-index: 1;
  }
