/* NAVBAR */

.bg-darksilver {
    background-color: $mainColor;
    &A {
        background-color: $mainColorAlpha;
    }
}

.navbar-brand img {
    height: 44px;
    padding-left: 8px;
}

.nav-link-dark {
    font-family: $mainFont;
    font-size: 14px;
    color: white;
    font-weight:600;    
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .nav-link:focus, .nav-link:hover {
    color: $brumeSilver;
}

.nav-item img {
    height: 18px;
    margin: 1px;
      transition: 0.1s;
      &:hover{
        height: 20px;
        margin: 0;
      }
}

@media (min-width: 768px) {
.br-center { 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .offcanvas-social { 
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%);
  }
}

.navbar-toggler  {
    border: none;    
    &:focus {
        box-shadow: 0 0 0 0;
    }
}

.offcanvas.offcanvas-end {
    width: 158px; // calc(100% / 3)
}

.offcanvas-header .btn-close {
    margin: 3px 0 0 10px;
    padding-right: 22px;
}

@media (max-width: 767.98px) {
    .fixed-md-top { // La cree porque no encontre en la docu, habia una sticky-md-top pero era al reves me lo fijaba en Mobile y me lo hacia flotante en Desktop
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    }

    .offcanvas-social {
    flex-direction: row;
    justify-content: flex-start !important; // tuve que usar !important porque Bootstrap ya lo estaba usando */
    padding-top: 14px;
    }
    
    .offcanvas-social-item {
    margin-right: 16px;
    }

    .offcanvas-header {
        justify-content: flex-end;
    }
}