// COLORES
$mainColor: rgb(80, 80, 80);
$mainColorAlpha: rgba($mainColor,0.8);

$brumeSilver: silver;

$brumeGradient: radial-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.6));

// FUENTES
$mainFont: 'Quicksand', sans-serif;

// GENERAL
$brumePadding: 20px 10%;